/* @<name>*/
/* - - - - COLORS & EFFECTS - - - - -  */
/* - - - - FONTS - - - - - - */
.font-heading_text-h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 32pt;
  background-color: #6C7583;
  background-size: 100%;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0 24px;
}
.font-heading_text-h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 24pt;
  text-align: left;
  color: #6C7583;
  border-bottom: 1px solid lightgrey;
  line-height: 0.1em;
  margin: 0 0 2em 0;
}
.font-heading_text-h2 span {
  background: #FCFCFC;
  padding: 0 0.5em 0 0px;
}
.font-heading_text-h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 24pt;
  margin: 0 0 18px 0;
  text-align: left;
  line-height: 140%;
  color: #6C7583;
}
.font-heading_text-h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16pt;
  letter-spacing: 0.3px;
  margin: 0 0 12px 0;
  text-align: left;
  line-height: 160%;
  color: #6C7583;
}
.font-body_text-p {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 12pt;
  line-height: 170%;
  font-weight: 300;
  color: #565F6D;
  margin: 0 0 16px 0;
}
.font-subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  text-align: left;
  line-height: 140%;
  color: #565F6D;
  margin: 24px 0 8px 0;
}
.font-hyperlink_text-1 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 12pt;
  line-height: 170%;
  font-weight: 300;
  color: #565F6D;
  margin: 0 0 16px 0;
  color: #2E69FF;
  text-decoration: none;
  font-weight: 400;
}
.font-hyperlink_text-1:hover {
  color: #FF4A6B;
}
.font-hyperlink_text-2 {
  font-family: 'Roboto', sans-serif;
  margin: 0 0 16px 0;
  font-weight: 400;
  line-height: 175%;
  color: #2E69FF;
  margin-bottom: 0;
  text-decoration: none;
  line-height: 200%;
  letter-spacing: 0.2px;
}
.font-hyperlink_text-2:hover {
  color: #FF4A6B;
}
.font-caption {
  color: #565F6D;
  font-family: 'Roboto', sans-serif;
  line-height: 140%;
  font-weight: 300;
  width: 100%;
  font-size: 10pt;
}
.font-italic {
  font-style: italic;
  font-weight: 400;
  font-size: 14pt;
}
mark {
  color: #565F6D;
  font-weight: 300;
  background-color: #E2F9FF;
}
.font-bold {
  font-family: 'Roboto', sans-serif;
  margin: 0 0 16px 0;
  font-weight: 400;
  line-height: 175%;
}
/* - - - -CONTAINERS - - - - - */
.container-screen_content-67 {
  display: flex;
  flex-direction: column;
  padding: 28vh 0 10vh 0;
  width: 67%;
  margin: auto;
}
.container-body-100 {
  margin: 0 auto;
  background: #FCFCFC;
  z-index: 0;
  min-height: 100%;
}
/* - - - - Misc  - - - -  -*/
html {
  background: #FCFCFC;
}
body {
  margin: 0 auto;
  background: #FCFCFC;
  z-index: 0;
  min-height: 100%;
  font-size: 16pt;
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 32pt;
  background-color: #6C7583;
  background-size: 100%;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0 24px;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 24pt;
  text-align: left;
  color: #6C7583;
  border-bottom: 1px solid lightgrey;
  line-height: 0.1em;
  margin: 0 0 2em 0;
}
h2 span {
  background: #FCFCFC;
  padding: 0 0.5em 0 0px;
}
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 24pt;
  margin: 0 0 18px 0;
  text-align: left;
  line-height: 140%;
  color: #6C7583;
}
h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16pt;
  letter-spacing: 0.3px;
  margin: 0 0 12px 0;
  text-align: left;
  line-height: 160%;
  color: #6C7583;
}
p {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 12pt;
  line-height: 170%;
  font-weight: 300;
  color: #565F6D;
  margin: 0 0 16px 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  font-family: 'Roboto', sans-serif;
  margin: 0 0 16px 0;
  font-weight: 400;
  line-height: 175%;
  color: #2E69FF;
  margin-bottom: 0;
  text-decoration: none;
  line-height: 200%;
  letter-spacing: 0.2px;
}
a:hover {
  color: #FF4A6B;
}
sub {
  color: #565F6D;
  font-family: 'Roboto', sans-serif;
  line-height: 140%;
  font-weight: 300;
  width: 100%;
  font-size: 10pt;
}
.main-content {
  display: flex;
  flex-direction: column;
  padding: 28vh 0 10vh 0;
  width: 67%;
  margin: auto;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forward;
}
.row {
  margin: 0 0 4em 0;
}
.list-header_row {
  display: inline-flex;
  list-style-type: none;
  padding: 0;
}
.bullet-point {
  padding: 0 10px 0 10px;
  font-size: 20pt;
  color: #6C7583;
}
.row-50_50-prim {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3em;
  grid-row-gap: 3em;
}
.row-50_50-prim a img {
  max-width: 100%;
  border: 2px solid #E5E5E5;
  border-radius: 2px;
}
.row-50_50-prim a img:hover {
  border: 2px solid #2E69FF;
}
.row-50_50-prim div ul li {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 12pt;
  line-height: 170%;
  font-weight: 300;
  color: #565F6D;
  margin: 0 0 16px 0;
  margin-bottom: 0px;
}
.row-50_50-seco {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;
}
.row-50_50-seco a img {
  max-width: 100%;
  border: 2px solid #E5E5E5;
}
.row-50_50-seco a img:hover {
  border: 2px solid #2E69FF;
}
.row-50_50-seco div ul {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 12pt;
  line-height: 170%;
  font-weight: 300;
  color: #565F6D;
  margin: 0 0 16px 0;
}
.row-50_50-seco div a img {
  max-width: 100%;
  border: 2px solid #E5E5E5;
}
.row-50_50-seco div a img:hover {
  border: 2px solid #2E69FF;
}
.row-33_33_33-prim {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}
.row-33_33_33-prim div ul {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 12pt;
  line-height: 170%;
  font-weight: 300;
  color: #565F6D;
  margin: 0 0 16px 0;
  margin: auto;
  line-height: 200%;
}
.row-33_33_33-prim div ul li {
  margin: auto;
}
.row-33_33_33-prim a img {
  max-width: 100%;
  border: 2px solid #E5E5E5;
  border-radius: 2px;
}
.row-33_33_33-prim a img:hover {
  border: 2px solid #2E69FF;
}
.row-25_25_25_25-prim {
  display: grid;
  grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
  grid-gap: 3em;
}
.row-25_25_25_25-prim div ul {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 12pt;
  line-height: 170%;
  font-weight: 300;
  color: #565F6D;
  margin: 0 0 16px 0;
  margin: auto;
  line-height: 200%;
}
.row-25_25_25_25-prim div ul li {
  margin: auto;
}
.row-to_top-prim {
  position: fixed;
  z-index: 1;
  bottom: 0;
  margin: 0 0 80px 72%;
}
.row-to_top-prim a {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row-to_top-prim a span {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding-right: 6px;
  align-items: center;
}
.row-to_top-prim a img {
  max-height: 42px;
  opacity: 0.7;
}
.row-to_top-prim a img:hover {
  opacity: 1;
}
.row-to_top-prim a:hover {
  border: none;
}
#row-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 1em 0;
}
#row-header div img {
  width: 100%;
  opacity: 1;
  height: 50px;
  padding: 0 1em 0 0;
}
#row-header div img:hover {
  opacity: 1;
}
#row-header div h1 span {
  display: inline-flex;
  align-items: center;
}
#row-header div h1 span img {
  max-height: 54px;
  display: none;
}
#row-header div h4 {
  font-size: 14.5pt;
  line-height: 150%;
  font-weight: 300;
}
#row-header div p {
  width: 100%;
}
#row-header div a {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 12pt;
  line-height: 170%;
  font-weight: 300;
  color: #565F6D;
  margin: 0 0 16px 0;
  color: #2E69FF;
  text-decoration: none;
  font-weight: 400;
}
#row-header div a:hover {
  color: #FF4A6B;
}
#row-header-signature {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 4em;
}
#row-header-signature img {
  margin: 0 12px 0 0;
  border-radius: 50%;
  opacity: 1;
  height: 36px;
  width: 36px;
}
#row-header-signature img:hover {
  opacity: 1;
}
#row-header-signature span {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16pt;
  letter-spacing: 0.3px;
  margin: 0 0 12px 0;
  text-align: left;
  line-height: 160%;
  font-size: 14.5pt;
  line-height: 150%;
  font-weight: 300;
  color: #6C7583;
  margin: 0;
}
#row-header-signature span a {
  font-family: 'Roboto', sans-serif;
  font-size: 16pt;
  letter-spacing: 0.3px;
  margin: 0 0 12px 0;
  text-align: left;
  line-height: 160%;
  color: #6C7583;
  font-weight: 400;
  color: #2E69FF;
}
#row-header-signature span a:hover {
  color: #FF4A6B;
}
#row-breakdown .row-25_25_25_25-prim {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
}
#row-breakdown .row-25_25_25_25-prim h4 {
  text-align: center;
}
#row-assumptions .row-50_50-prim {
  grid-template-columns: 1fr;
  grid-gap: 3em;
}
#row-competitors .row-33_33_33-prim {
  grid-gap: 2em;
}
#row-refinement h2 {
  color: #6C7583;
  border-bottom: 1px solid lightgrey;
}
#row-refinement .row-50_50-prim img {
  max-width: 100%;
  border: 2px solid #E5E5E5;
}
#row-refinement .row-50_50-prim img:hover {
  border: 2px solid #2E69FF;
}
#row-refinement .row-50_50-prim p {
  text-align: left;
}
#row-feedback div a img {
  max-width: 100%;
  border: 2px solid #E5E5E5;
}
#row-feedback div a img:hover {
  border: 2px solid #2E69FF;
}
#row-feedback .row-50_50-prim div ul {
  margin: 0;
}
#row-feedback .row-50_50-prim div ul li {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 12pt;
  line-height: 170%;
  font-weight: 300;
  color: #565F6D;
  margin: 0 0 16px 0;
  margin-bottom: 6px;
}
#row-feedback .row-50_50-prim div ul li span img {
  height: 9.7px;
  padding-right: 4.7px;
}
#row-components div a img {
  max-width: 100%;
  border: 2px solid #E5E5E5;
}
#row-components div a img:hover {
  border: 2px solid #2E69FF;
}
#row-components .row-33_33_33-prim div ul {
  margin: 0;
}
#row-components .row-33_33_33-prim div ul li {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 12pt;
  line-height: 170%;
  font-weight: 300;
  color: #565F6D;
  margin: 0 0 16px 0;
  margin-bottom: 6px;
}
#row-components .row-33_33_33-prim div ul li span img {
  height: 9.7px;
  padding-right: 4.7px;
}
.button-CTA {
  border: 2px solid #565F6D;
  color: #565F6D;
}
.button-CTA:hover {
  color: #FFF;
  background-color: #2E69FF;
  border: 2px solid #2E69FF;
}
.button-CTA span {
  font-size: 11.5pt;
}
/*--Importantants--*/
#visible-while-mobile_h1 {
  display: none;
}
footer {
  position: relative;
}
/*--Keyframes--*/
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
