
@media screen  and (min-width:1824px) {
  .main-content{
    width:50vw;
  }
  .row-to_top-prim{
      margin:0 0 80px 56%;
  }

}

@media screen and (max-width:1281px) { /* big landscape tablets, laptops, and desktops */

}

@media screen and (max-width:1025px) {
  .main-content{
    width:90%;
  }
}


@media screen and (max-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  .main-content{
    width:90%;
  }

  h1{
    font-size:1.6em;
    margin:0 0 24px;
  }
  #row-header div p {
    font-size:14.5pt;
    width:100%;
  }
  #row-header div a{
    font-size:14pt;
  }
  .list-header_row {
    display: inline-flex;
    list-style-type: none;
    padding: 0;
    margin-top:1em;
  }

}

@media screen and (max-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  h1{
    font-size:1.6em;
    margin-bottom:1em;
  }

  h2{
    font-size:20pt;
    margin:0 0 1.5em 0;
  }
  h2 span {
    background: #FEFEFE;
    padding: 0 .5em 0 0px;
  }

  h4{
    line-height: 180%;
  }

  p{
    line-height: 160%;
  }

  .row {
    margin: 0 0 4em 0;
  }

  .main-content{
    padding:16vh 0 16vh 0;
    width:80vw;
    margin:auto;
  }

  .row-67_33-seco{
    grid-template-columns: 1fr;
  }
  .row-33_67-seco{
    grid-template-columns: 1fr;
  }
  .row-33_33_33-prim{
      grid-template-columns: 1fr;
  }
  .row-50_50-prim{
    grid-template-columns: 1fr;
    grid-gap:1.5em;
  }
  .row-50_50-seco{
    grid-template-columns: 1fr;
    grid-gap:2em;
    margin-bottom:1em;
  }
  .row-50_50-prim div p{
    text-align: left;
  }
  .row-to_top-prim{
      margin:0 0 67px 67%;
  }

  #row-header {
    display: grid;
    grid-template-columns: 1fr;
  }
  #row-header div ul li a{
    font-size:12.5pt;
    font-weight:400;
  }
  #row-header div img{
    width:100%;
  }
  #row-header div p {
    width:100%;
  }

  #row-introduction .row-50_50-prim{
    display:flex;
    flex-direction: column-reverse;
  }

  #row-breakdown{
    text-align: left;
  }
  #row-breakdown .row-25_25_25_25-prim{
    display:grid;
    grid-template-columns:1fr;
    grid-gap:2em;
  }
  #row-breakdown .row-25_25_25_25-prim h4{
    text-align: left;
  }
  #row-breakdown .row-25_25_25_25-prim p{
    text-align: left;
  }
  #row-breakdown .row-25_25_25_25-prim div ul{
    text-align: left;
  }

  #row-iteration_1 .row-50_50-prim{
    grid-template-columns: 1fr;
    margin-bottom:0;
  }
  #row-iteration_1 .row-50_50-seco{
    display: flex;
    flex-direction: column-reverse;
  }
  #row-elements .row-50_50-prim{
    grid-gap:2em;
  }

  #row-menu_items .row-50_50-prim ul li{
    margin-bottom:10px;
  }

  #row-iteration_2 .row-50_50-prim{
    margin-bottom:4em;
  }
  #row-iteration_2 .row-50_50-prim div ul li{
    margin-bottom:10px;
  }

  #row-variants_2 .row-50_50-prim{
    display:flex;
    flex-direction:column-reverse;
  }

  #row-diversify-1 .row-50_50-prim{
    display:flex;
    flex-direction:column-reverse;
    grid-gap:1em;
  }
  #row-diversify-1 .row-50_50-prim div ul li{
    margin-bottom:10px;
  }
  #row-diversify-1 .row-50_50-seco{
    padding:2em 0 2em 0;
    grid-gap:1em;
  }

  #row-iteration_4 .row-50_50-prim {
    display: flex;
    flex-direction: column-reverse;
  }

}

@media screen and (max-width:520px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */

}

@media screen and (max-width:320px)  { /* smartphones, Android phones, landscape iPhone */


}
