
@media screen  and (min-width:1824px) {
  footer div{
    width:50%;
  }
}

@media screen and (max-width:1281px) { /* big landscape tablets, laptops, and desktops */
}

@media screen and (max-width:1025px) {
}


@media screen and (max-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media screen and (max-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  footer{
    position:relative !important;
  }
  footer div{
    width:80%;

  }
  footer span{
    margin-top:8px;
  }
  footer div ul{
    margin-top:16px
  }

  footer div ul li a .footer-icon{
    height:20px;
  }
}

@media screen and (max-width:520px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */

}

@media screen and (max-width:320px)  { /* smartphones, Android phones, landscape iPhone */


}
